.wy-side-nav-search, .wy-nav-top {
    background: #FFFFFF;
}

.wy-side-nav-search {
    display: block;
    width: 300px;
    padding: .809em;
    margin-bottom: .809em;
    z-index: 200;
    background-color: #FFFFFF;
    text-align: center;
    color: #fcfcfc
}
